<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>FormUsuarios</display-name>
    <servlet-name>FormUsuarios</servlet-name>
    <servlet-class>controlador.FormUsuarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormUsuarios</servlet-name>
    <url-pattern>/FormUsuarios</url-pattern>
  </servlet-mapping>
  <display-name>web_eq_proyecto1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>gestionVideos</display-name>
    <servlet-name>gestionVideos</servlet-name>
    <servlet-class>controlador.gestionVideos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gestionVideos</servlet-name>
    <url-pattern>/gestionVideos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionVideos</display-name>
    <servlet-name>GestionVideos</servlet-name>
    <servlet-class>controlador.GestionVideos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionVideos</servlet-name>
    <url-pattern>/GestionVideos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarVideos</display-name>
    <servlet-name>ListarVideos</servlet-name>
    <servlet-class>controlador.ListarVideos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarVideos</servlet-name>
    <url-pattern>/ListarVideos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DaoPersona</display-name>
    <servlet-name>DaoPersona</servlet-name>
    <servlet-class>modelo.DaoPersona</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DaoPersona</servlet-name>
    <url-pattern>/DaoPersona</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>controlador.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrearCuenta</display-name>
    <servlet-name>CrearCuenta</servlet-name>
    <servlet-class>controlador.CrearCuenta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearCuenta</servlet-name>
    <url-pattern>/CrearCuenta</url-pattern>
  </servlet-mapping>
</web-app>